bot-whatsapp/n8n-workflow-analisis-conversaciones.json
{
  "name": "Analisis semanal de conversaciones",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * 1"
            }
          ]
        }
      },
      "id": "b1000000-0000-0000-0000-000000000001",
      "name": "Cada semana (lunes)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "run-analysis",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000002",
      "name": "Disparo manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        180
      ],
      "webhookId": "run-analysis-bot-pg"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, role, content, created_at FROM chat_history WHERE session_id !~ '^__' AND created_at >= NOW() - INTERVAL '7 days' ORDER BY session_id, created_at",
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000003",
      "name": "Traer conversaciones",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        220,
        90
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst bySession = {};\nfor (const r of rows) {\n  if (!bySession[r.session_id]) bySession[r.session_id] = [];\n  bySession[r.session_id].push({ role: r.role, content: r.content, created_at: r.created_at });\n}\n\nconst conversations = Object.entries(bySession).map(([sessionId, msgs]) => {\n  const gotPaymentInfo = msgs.some(m => m.role === 'assistant' && m.content.includes('Alias: productoscapilarespg'));\n  const sentReceipt = msgs.some(m => m.role === 'user' && m.content.includes('Imagen recibida'));\n  return {\n    sessionId,\n    number: sessionId.split('@')[0],\n    messageCount: msgs.length,\n    firstMessageAt: msgs[0].created_at,\n    lastMessageAt: msgs[msgs.length - 1].created_at,\n    gotPaymentInfo,\n    sentReceipt,\n    transcript: msgs.map(m => (m.role === 'user' ? 'Cliente' : 'Dolores') + ': ' + m.content).join('\\n')\n  };\n});\n\nconst totalConversations = conversations.length;\nconst gotPaymentInfoCount = conversations.filter(c => c.gotPaymentInfo).length;\nconst likelyConvertedCount = conversations.filter(c => c.gotPaymentInfo && c.sentReceipt).length;\nconst likelyLostCount = conversations.filter(c => c.gotPaymentInfo && !c.sentReceipt).length;\n\nreturn [{\n  json: {\n    conversations,\n    totalConversations,\n    gotPaymentInfoCount,\n    likelyConvertedCount,\n    likelyLostCount\n  }\n}];\n"
      },
      "id": "b1000000-0000-0000-0000-000000000004",
      "name": "Agrupar por cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        90
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\nif (d.totalConversations === 0) {\n  return [{ json: { skip: true } }];\n}\n\nconst transcripts = d.conversations.map((c, i) =>\n  `--- Conversacion ${i + 1} (+${c.number}) ---\\n` +\n  `Mensajes: ${c.messageCount} | Recibio datos de pago: ${c.gotPaymentInfo ? 'SI' : 'NO'} | Mando comprobante despues: ${c.sentReceipt ? 'SI' : 'NO'}\\n` +\n  c.transcript\n).join('\\n\\n');\n\nconst systemPrompt = `Sos un analista de ventas para PG Productos Capilares (venden el Combo Biotina por WhatsApp con una IA llamada Dolores que atiende).\n\nTe paso las transcripciones completas de las conversaciones de la ultima semana entre la IA (Dolores) y clientes potenciales, junto con datos de cada una: si el cliente llego a recibir los datos de pago (Mercado Pago) y si despues mando un comprobante (senal de que probablemente compro).\n\nTu trabajo es analizar los casos donde el cliente recibio los datos de pago pero NUNCA mando comprobante (venta probablemente perdida), y tambien los casos donde la conversacion se corto antes de llegar a esa instancia, para identificar patrones y motivos probables por los que no se cerro la venta. Por ejemplo: objeciones de precio no resueltas, dudas sobre el producto sin responder bien, el cliente pidio pensarlo y no volvio, tiempos de envio, desconfianza, precio muy alto, competencia, etc.\n\nRespondé en español rioplatense, en formato de reporte corto para mandar por WhatsApp al equipo (maximo 1500 caracteres). Usa bullets. Estructura:\n1. Numeros generales (cuantas conversaciones, cuantas llegaron a pago, cuantas probablemente cerraron)\n2. Los 3-4 motivos mas frecuentes por los que ves que no se cerraron ventas, con un ejemplo breve de cada uno\n3. Una sugerencia concreta de mejora si la ves clara\n\nNo inventes datos que no esten en las transcripciones.`;\n\nreturn [{\n  json: {\n    skip: false,\n    systemPrompt,\n    userMessage: `Datos de la semana:\\n- Conversaciones totales: ${d.totalConversations}\\n- Llegaron a recibir datos de pago: ${d.gotPaymentInfoCount}\\n- Probablemente compraron (mandaron comprobante): ${d.likelyConvertedCount}\\n- Recibieron datos de pago pero no mandaron comprobante (venta probablemente perdida): ${d.likelyLostCount}\\n\\nTranscripciones:\\n\\n${transcripts}`\n  }\n}];\n"
      },
      "id": "b1000000-0000-0000-0000-000000000005",
      "name": "Preparar prompt analisis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        90
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.skip) return [];\nreturn [{ json: $json }];"
      },
      "id": "b1000000-0000-0000-0000-000000000006",
      "name": "Hay conversaciones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        90
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-opus-4-8',\n  max_tokens: 1500,\n  system: $json.systemPrompt,\n  messages: [ { role: 'user', content: $json.userMessage } ]\n}) }}",
        "options": {
          "timeout": 180000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000007",
      "name": "Analizar con Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        90
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const resp = $json;\nconst textBlock = (resp.content || []).find(b => b.type === 'text');\nconst analysisText = textBlock ? textBlock.text : 'No se pudo generar el analisis.';\nreturn [{ json: { analysisText } }];\n"
      },
      "id": "b1000000-0000-0000-0000-000000000008",
      "name": "Extraer analisis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        90
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://bot_evolution:8080/message/sendText/pg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  number: 'TU_GRUPO_JID_AQUI@g.us',\n  text: '📊 Analisis semanal de conversaciones (ultimos 7 dias)\\n\\n' + $json.analysisText\n}) }}",
        "options": {
          "timeout": 30000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000009",
      "name": "Enviar reporte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        90
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://bot_evolution:8080/message/sendText/pg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  number: 'TU_GRUPO_JID_AQUI@g.us',\n  text: '⚠️ Fallo el analisis semanal de conversaciones (error llamando a la IA). Revisar manualmente si hace falta.'\n}) }}",
        "options": {
          "timeout": 30000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000010",
      "name": "Notificar falla analisis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        260
      ]
    }
  ],
  "connections": {
    "Cada semana (lunes)": {
      "main": [
        [
          {
            "node": "Traer conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparo manual": {
      "main": [
        [
          {
            "node": "Traer conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer conversaciones": {
      "main": [
        [
          {
            "node": "Agrupar por cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar por cliente": {
      "main": [
        [
          {
            "node": "Preparar prompt analisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar prompt analisis": {
      "main": [
        [
          {
            "node": "Hay conversaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay conversaciones": {
      "main": [
        [
          {
            "node": "Analizar con Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar con Claude": {
      "main": [
        [
          {
            "node": "Extraer analisis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar falla analisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer analisis": {
      "main": [
        [
          {
            "node": "Enviar reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
