bot-whatsapp/n8n-workflow-resumen-diario.json
{
  "name": "Resumen diario de ventas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      },
      "id": "c1000000-0000-0000-0000-000000000001",
      "name": "Todos los dias 22hs (ART)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "resumen-diario",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000002",
      "name": "Disparo manual",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        180
      ],
      "webhookId": "resumen-diario-bot-pg"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, role, content FROM chat_history WHERE session_id !~ '^__' AND created_at >= date_trunc('day', now() AT TIME ZONE 'America/Argentina/Buenos_Aires') AT TIME ZONE 'America/Argentina/Buenos_Aires' ORDER BY session_id, created_at",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000003",
      "name": "Traer conversaciones del dia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        220,
        90
      ],
      "credentials": {
        "postgres": {
          "id": "cDyIo0T2342kI0Qh",
          "name": "Postgres account 2"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {} }];"
      },
      "id": "c1000000-0000-0000-0000-000000000006",
      "name": "Reducir a un item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        90
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT replace(session_id, '__ad_source__:', '') AS session_id FROM chat_history WHERE session_id LIKE '__ad_source__:%' AND created_at >= date_trunc('day', now() AT TIME ZONE 'America/Argentina/Buenos_Aires') AT TIME ZONE 'America/Argentina/Buenos_Aires'",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000007",
      "name": "Traer origenes de anuncio del dia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        550,
        90
      ],
      "credentials": {
        "postgres": {
          "id": "cDyIo0T2342kI0Qh",
          "name": "Postgres account 2"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Traer conversaciones del dia').all().map(i => i.json);\nconst adSessions = new Set($input.all().map(i => i.json.session_id));\n\nconst bySession = {};\nfor (const r of rows) {\n  if (!bySession[r.session_id]) bySession[r.session_id] = [];\n  bySession[r.session_id].push({ role: r.role, content: r.content });\n}\n\nconst PRECIO = 43000;\nconst COSTO = 10000;\nconst GANANCIA_UNIT = PRECIO - COSTO;\n\nlet totalConversaciones = 0;\nlet ventasCerradas = 0;\n\nfor (const [sessionId, msgs] of Object.entries(bySession)) {\n  if (!adSessions.has(sessionId)) continue; // solo conversaciones iniciadas por un anuncio hoy\n  totalConversaciones++;\n  const gotPaymentInfo = msgs.some(m => m.role === 'assistant' && m.content.includes('Alias: productoscapilarespg'));\n  const sentReceipt = msgs.some(m => m.role === 'user' && m.content.includes('Imagen recibida'));\n  if (gotPaymentInfo && sentReceipt) ventasCerradas++;\n}\n\nconst conversionPct = totalConversaciones > 0 ? ((ventasCerradas / totalConversaciones) * 100).toFixed(1) : '0.0';\nconst facturacion = ventasCerradas * PRECIO;\nconst ganancia = ventasCerradas * GANANCIA_UNIT;\nconst fmt = n => n.toLocaleString('es-AR');\n\nconst hoy = new Date().toLocaleDateString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires', day: '2-digit', month: '2-digit', year: 'numeric' });\n\nlet text = `\\u{1F4C5} Resumen del dia (${hoy})\\n\\n`;\ntext += `\\u{1F4AC} Conversaciones desde anuncios: ${totalConversaciones}\\n`;\ntext += `\\u{1F6D2} Ventas cerradas: ${ventasCerradas}\\n`;\ntext += `\\u{1F4C8} Conversion: ${conversionPct}%\\n`;\nif (ventasCerradas > 0) {\n  text += `\\u{1F4B0} Facturacion: $${fmt(facturacion)}\\n`;\n  text += `\\u{2705} Ganancia neta: $${fmt(ganancia)}`;\n} else {\n  text += `\\u{1F4B0} Sin ventas cerradas hoy.`;\n}\n\nreturn [{ json: { text } }];\n"
      },
      "id": "c1000000-0000-0000-0000-000000000004",
      "name": "Calcular resumen del dia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        90
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://bot_evolution:8080/message/sendText/pg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  number: 'TU_NUMERO_PERSONAL_AQUI@s.whatsapp.net',\n  text: $json.text\n}) }}",
        "options": {
          "timeout": 30000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "c1000000-0000-0000-0000-000000000005",
      "name": "Enviar resumen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        90
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "aJOTrB9KcVsbm5Zq",
          "name": "Evolution apikey"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Todos los dias 22hs (ART)": {
      "main": [
        [
          {
            "node": "Traer conversaciones del dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparo manual": {
      "main": [
        [
          {
            "node": "Traer conversaciones del dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer conversaciones del dia": {
      "main": [
        [
          {
            "node": "Reducir a un item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reducir a un item": {
      "main": [
        [
          {
            "node": "Traer origenes de anuncio del dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer origenes de anuncio del dia": {
      "main": [
        [
          {
            "node": "Calcular resumen del dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular resumen del dia": {
      "main": [
        [
          {
            "node": "Enviar resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
