bot-whatsapp/n8n-workflow-whatsapp-claude.json
{
  "name": "Bot WhatsApp - Claude (Productos Capilares PG)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "whatsapp-bot-pg"
    },
    {
      "parameters": {
        "jsCode": "// Filtra eventos de Evolution API (MESSAGES_UPSERT) y extrae el texto\nconst body = $json.body ?? $json;\nconst data = body.data;\n\n// Ignorar si no hay datos o si el mensaje lo enviamos nosotros\nif (!data || !data.key || data.key.fromMe) {\n  return [];\n}\n\n// Solo mensajes de texto (conversation o extendedTextMessage)\nconst text = data.message?.conversation\n  || data.message?.extendedTextMessage?.text\n  || '';\n\nif (!text.trim()) {\n  return [];\n}\n\n// Ignorar grupos (los JID de grupo terminan en @g.us)\nif (String(data.key.remoteJid).endsWith('@g.us')) {\n  return [];\n}\n\nreturn [{\n  json: {\n    sessionId: data.key.remoteJid,\n    number: String(data.key.remoteJid).split('@')[0],\n    text: text.trim(),\n    instance: body.instance,\n    pushName: data.pushName || ''\n  }\n}];"
      },
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Filtrar y extraer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM chat_history WHERE session_id = $1 ORDER BY id DESC LIMIT 20",
        "options": {
          "queryReplacement": "={{ $json.sessionId }}"
        }
      },
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Cargar historial",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [440, 0],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// EDITA AQUI TU PROMPT DE VENTAS\n// ============================================================\nconst SYSTEM_PROMPT = `PEGA AQUÍ TU PROMPT\n\n(Ejemplo mientras tanto:)\nEres el asistente de ventas de Productos Capilares PG por WhatsApp.\nVendemos el Combo Biotina para el crecimiento y fortalecimiento del cabello.\nResponde en español, con tono cálido y cercano, mensajes cortos como se escribe en WhatsApp.\nTu objetivo es resolver dudas y cerrar la venta. Si el cliente quiere comprar, pídele nombre, dirección y método de pago.`;\n// ============================================================\n\nconst input = $('Filtrar y extraer').first().json;\n\n// Historial desde Postgres (viene en orden DESC, lo invertimos)\nconst rows = $input.all()\n  .map(i => i.json)\n  .filter(r => r && r.role && r.content);\nconst history = rows.reverse().map(r => ({ role: r.role, content: r.content }));\n\n// Agregar el mensaje nuevo del cliente\nhistory.push({ role: 'user', content: input.text });\n\nreturn [{\n  json: {\n    ...input,\n    systemPrompt: SYSTEM_PROMPT,\n    messages: history\n  }\n}];"
      },
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Preparar mensajes (EDITA TU PROMPT AQUÍ)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-opus-4-8',\n  max_tokens: 1024,\n  system: [\n    {\n      type: 'text',\n      text: $json.systemPrompt,\n      cache_control: { type: 'ephemeral' }\n    }\n  ],\n  messages: $json.messages\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "// Extrae el texto de la respuesta de Claude\nconst resp = $json;\nconst ctx = $('Preparar mensajes (EDITA TU PROMPT AQUÍ)').first().json;\n\nlet reply = '';\nif (resp.stop_reason === 'refusal') {\n  reply = 'Disculpa, no puedo ayudarte con eso. ¿Tienes alguna consulta sobre nuestros productos?';\n} else {\n  reply = (resp.content || [])\n    .filter(b => b.type === 'text')\n    .map(b => b.text)\n    .join('\\n')\n    .trim();\n}\n\nif (!reply) {\n  reply = 'Disculpa, ¿podrías repetirme tu consulta?';\n}\n\nreturn [{ json: { ...ctx, reply } }];"
      },
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Extraer respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Genera dos filas para guardar en chat_history\nconst d = $json;\nreturn [\n  { json: { session_id: d.sessionId, role: 'user', content: d.text } },\n  { json: { session_id: d.sessionId, role: 'assistant', content: d.reply } }\n];"
      },
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Preparar filas historial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "chat_history",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Guardar conversación",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_URL }}/message/sendText/{{ $('Extraer respuesta').first().json.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  number: $('Extraer respuesta').first().json.number,\n  text: $('Extraer respuesta').first().json.reply\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 0],
      "executeOnce": true
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [[{ "node": "Filtrar y extraer", "type": "main", "index": 0 }]]
    },
    "Filtrar y extraer": {
      "main": [[{ "node": "Cargar historial", "type": "main", "index": 0 }]]
    },
    "Cargar historial": {
      "main": [[{ "node": "Preparar mensajes (EDITA TU PROMPT AQUÍ)", "type": "main", "index": 0 }]]
    },
    "Preparar mensajes (EDITA TU PROMPT AQUÍ)": {
      "main": [[{ "node": "Claude API", "type": "main", "index": 0 }]]
    },
    "Claude API": {
      "main": [[{ "node": "Extraer respuesta", "type": "main", "index": 0 }]]
    },
    "Extraer respuesta": {
      "main": [[{ "node": "Preparar filas historial", "type": "main", "index": 0 }]]
    },
    "Preparar filas historial": {
      "main": [[{ "node": "Guardar conversación", "type": "main", "index": 0 }]]
    },
    "Guardar conversación": {
      "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
